@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Ubuntu:wght@700&family=ZCOOL+QingKe+HuangYou&display=swap');

body{
	background-color: #800080; /*purple*/
	color: #FFFFFF; /*white*/
}
.rubik{
	font-family: "Rubik";
}
.ubuntu{
	font-family: "Ubuntu";
}
.zcool{
	font-family: "ZCOOL QingKe HuangYou";
}
